{
  "presets": [
    ["@babel/preset-env", {
      "modules": "commonjs",
      "useBuiltIns": "entry",
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-function-bind"],
    ["@babel/plugin-transform-runtime"]
  ]
}
